// =================================================================
// 	Sixtus
// 	Colors
// =================================================================

$colorWhite: #FFF;
$colorType: #0e2344;
$colorOne: #f05437;
$colorTwo: #0e2344;
$colorThree: #0a172c;
$colorFour: #2a446e;
$colorBg: #e0e0e0;
